* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  user-select: none;
}

body {
  background: #000000;
  align-items: center;
  display: flex;
  line-height: 1.4;
  margin: 0;
}

svg {

  max-height: 100vh;
  width: auto;
  overflow: visible;
  margin: 0 auto;
  /* shape-rendering: crispEdges;
    vertical-align: middle; */
}

svg text {
  font-size: 21px;
  fill: white;
}

text, rect {
  text-anchor: middle;
  dominant-baseline: middle;
}

#canvas {
  background: rgb(36, 36, 36);
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  text-anchor: start;
  font-size: 21px;
  fill: rgb(206, 206, 206);
}

#menu {
  overflow: hidden;
  background: rgb(65, 65, 65);
}

.panel {
  display: none;
  width: 100px;
  height: 300px;
  transform: translate(50%, 50%);
}

#title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 3px;
}

.items {
  transition: .3s;
  opacity: 0.5;
}

.items.selected {
  font-size: 27px;
  font-weight: 900;
  letter-spacing: 3px;
  fill: red;
  opacity: 1;
}